<div class="announcement-container">
   <div class="announcement-icon" id="announcement-icon">
        <img src="{{ '/assets/images/logo.svg' | relative_url }}" alt="公告图标">
    </div>
    <div class="announcement-panel" id="announcement-panel">
        <span class="close-btn">&times;</span>
            <div class="announcement-content">
                <div class="announcement-header">
                <p>公告栏🪧</p>
            </div>
            <p>📌这里放置公告栏的内容</p>
        </div>
    </div>
</div>
